
/* iframeStyles.module.css */
.iframeContainer {
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Remove any default iframe borders */
  filter: contrast(1.1) saturate(1.2) brightness(1.3) hue-rotate(0deg);
}

.container {
  padding: 20px;
}

/* Media query for devices with a width of 768px or less (typically mobile devices) */
@media (max-width: 768px) {
  .iframeContainer {
    padding-top: 75%; /* Adjust to a 4:3 aspect ratio for smaller screens */
  }

  .container {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

/* Media query for devices with a width of 480px or less (smaller mobile devices) */
@media (max-width: 480px) {
  .iframeContainer {
    padding-top: 100%; /* Adjust to a 1:1 aspect ratio for very small screens */
  }

  .container {
    padding: 5px; /* Further reduce padding for very small screens */
  }
}
