/* styles/ThemeSwitch.module.css */
.themeSwitch {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0; /* Light mode background */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    margin-top: 80px;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures the button is on top */
}

.darkmode .themeSwitch {
    background-color: #333; /* Dark mode background */
}

.themeSwitch:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.themeSwitch span {
    font-size: 24px; /* Icon size */
}
